<section class="main-banner one parallax">
    <!-- Nested Container Starts -->
    <div class="container">
        <!-- Nested Row Starts -->
        <div class="row">
            <!-- Banner Content Starts -->
            <div class="col-lg-5 col-md-6 col-sm-12 text-center">
                <h1>About <br class="d-xs-block d-sm-block d-md-none">HangingCage!</h1>
                <ul class="list-unstyled">
                    <li>HangingCage is an online portal.</li>
                    <li>Ordering Food &amp; Delivery from restaurants of choice. </li>
                    <li>Table booking &amp; Restaurants.</li>
                    <li>Deals &amp; Discounts</li>
                    <li>Party Halls online booking</li>
                </ul>
            </div>
            <!-- Banner Content Ends -->
            <!-- Offset Col Starts -->
            <div class="col-lg-8 col-md-6 col-sm-12 d-xs-none d-sm-none d-sm-block"></div>
            <!-- Offset Col Ends -->
        </div>
        <!-- Nested Row Ends -->
    </div>
    <!-- Nested Container Ends -->
</section>
<div class="container main-container">
    <!-- Intro Content Starts -->
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <h1 class="text-center text-weight-light text-spl-color">What Does HangingCage Offer?</h1><br>
            <div class="text-center text-muted">
                <p>We offer quality and tasty food at reasonable price.</p>
                <p>Visit the restrocafe and enjoy the food and exciting offers.We serve various varieties of foods like<br/> Chinese Veg/Non Veg, Shakes, fast food, fries, desserts,rolls. </p>
                <p>We serve traditional special <strong>Veg Matka Biriyani</strong>,Everone has a favourite restaurant that he or she loves to eat.
                The Best Restaurant to go to is hanging cage.This peaceful place has the most delicious food for all the italian food lovers out there.The HangingCage is the most exquisiste place to eat and is truly the finest cafe in town.</p>
            </div>
        </div>
    </div>
    <!-- Intro Content Ends -->
    <!-- Spacer Starts -->
    <div class="spacer-1 d-xs-none d-sm-none d-md-block"></div>
    <!-- Spacer Ends -->
    <!-- Starts -->
    <div class="row">
        <div class="col-md-6 col-sm-12 offset-lg-1">
            <ul class="list-style-1 text-xs-center text-sm-center text-md-left">
                <li>Over 10,000 restaurants in 500+ cities - with more being added each week.</li>
                <li>Email, call or message us – 24 hours a day, every day.</li>
                <li>A service that's 100% free and insanely intuitive to use.</li>
                <li>A 100% free and insanely intuitive mobile site.</li>
                <li>Easy re-ordering and pre-ordering for users.</li>
                <li>Cash back for future orders through Paytmm.</li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 text-center">
            <img src="images/image2.jpg" alt="Image" class="img-fluid">
        </div>
    </div>
    <!-- Ends -->
</div>
<section class="footer-top">
    <!-- Nested Container Starts -->
    <div class="container">
        <h3 class="text-center text-weight-bold">Subscribe to our Newsletter:</h3>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item"><i class="fa fa-check-circle"></i> Receive deals from all our top restaurants via e-mail</li>
            <li class="list-inline-item"><i class="fa fa-check-circle"></i> Don't miss out on our great offers</li>
        </ul>
        <!-- Newsletter Form Starts -->
        <form class="newsletter-form">
            <!-- Nested Row Starts -->
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <label class="sr-only" for="newsletter-city">Please Select Your City</label>
                    <input type="text" class="form-control" id="newsletter-city" placeholder="Please Select Your City">
                </div>
                <div class="col-md-5 col-sm-12">
                    <label class="sr-only" for="newsletter-email">Email</label>
                    <input type="text" class="form-control" id="newsletter-email" placeholder="Enter Your E-mail Id">
                </div>
                <div class="col-md-3 col-sm-12">
                    <button type="submit" class="btn btn-prime btn-block text-uppercase text-weight-bold animation">Sign Up Now</button>
                </div>
                <div class="col-sm-12 text-center">
                    <h6 class="text-weight-bold">
                        <label>
                            <input type="checkbox">
                            <span>I have read &amp; accepted the terms and conditions and privacy policy</span>
                        </label>
                    </h6>
                </div>
            </div>
            <!-- Nested Row Ends -->
        </form>
        <!-- Newsletter Form Ends -->
    </div>
    <!-- Nested Container Ends -->
</section>