<div class="row">
    <div class="card">
        <img src="WebContent/images/burger.png" alt="burger">
        <div class="container">
            <h4><b>Burger</b></h4>
        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/sandwitch.svg" alt="Sandwitch">
        <div class="container">
            <h4><b>Sandwitch</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/fries.jpeg" alt="Fries">
        <div class="container">
            <h4><b>Fries</b></h4>
        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/chineese.jpg" alt="Chineese">
        <div class="container">
            <h4><b>Chineese Veg Starters</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/chineese.jpeg" alt="Chineese">
        <div class="container">
            <h4><b>Chineese Non-Veg</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/biryani.png" alt="Biriyani">
        <div class="container">
            <h4><b>Special Veg Matka Biriyani</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/biryani.png" alt="Biriyani">
        <div class="container">
            <h4><b>Chicken Biriyani</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/shakes.png" alt="shakes">
        <div class="container">
            <h4><b>Shakes</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/icecream.png" alt="icecream">
        <div class="container">
            <h4><b>Ice Creams</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/sundae.png" alt="Sundaes">
        <div class="container">
            <h4><b>Sundaes</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/falooda.png" alt="Falooda">
        <div class="container">
            <h4><b>Falooda</b></h4>

        </div>
    </div>
    <div class="card">
        <img src="WebContent/images/food.png" alt="Food">
        <div class="container">
            <h4><b>Time Limited Special Dishes</b></h4>
        </div>
    </div>
</div>
