<div class="main-container container">
        <!-- Heading Starts -->
            <h4 class="main-heading-1 text-xs-center text-sm-center text-md-left">
                Order from 45 restaurants in Jack Hills, Jacksonville<br class="d-xs-block d-sm-block d-md-none">
                <a href="#" class="btn btn-main animation" data-toggle="modal" data-target="#change-location">Change Location <i class="fa fa-angle-double-right"></i></a>
            </h4>
        <!-- Heading Ends -->
        <!-- Starts -->
            <div class="row">
            <!-- Sidearea Starts -->
                <div class="col-lg-3 col-md-4 col-sm-12">
                <!-- Sidearea Filters Starts -->
                    <div class="sidearea-filter">
                    <!-- Search Field Starts -->
                        <div class="input-group sidearea-filter-search">
                            <input type="text" class="form-control rounded-0" placeholder="Search for...">
                            <span class="input-group-append">
                                <button class="btn btn-default rounded-0" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    <!-- Search Field Ends -->
                    <!-- Sort By Field Starts -->
                        <select class="form-control rounded-0 sidearea-filter-sort">
                            <option>Sort by : Popularity</option>
                            <option>Top Rated</option>
                            <option>Latest</option>
                            <option>Cost</option>
                            <option>Cheap</option>
                        </select>
                    <!-- Sort By Field Ends -->	
                    <!-- Filter By Restaurants Starts -->
                        <h6 class="sidearea-filter-title">Filter By Restaurants</h6>
                        <div class="sidearea-filter-checkbox-list">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option1"> Preorder available
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option2"> Deals
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option3"> Online payment available
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option4"> Pure Vegetarian
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option5"> Non - Vegetarian
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option6"> Credit Cards
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option7"> Buffet
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option8"> Happy Hours
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option9"> Wifi
                                </label>
                                </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option10"> Alcohol Served
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option11"> Desserts and Bakes
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="option12"> Alcohol Not Served
                                </label>
                            </div>
                        </div>
                    <!-- Filter By Restaurants Ends -->
                    <!-- Filter By Cuisines Starts -->
                        <h6 class="sidearea-filter-title">Filter By Cuisines</h6>
                        <div class="sidearea-filter-checkbox-list">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Juices"> Juices
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Kashmiri"> Kashmiri
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Kerala"> Kerala
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Korean"> Korean
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Lebanese"> Lebanese
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Lucknowi"> Lucknowi
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Maharashtrian"> Maharashtrian
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Malaysian"> Malaysian
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Mangalorean"> Mangalorean
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Mediterranean"> Mediterranean
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Mexican"> Mexican
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" value="Middle Eastern"> Middle Eastern
                                </label>
                            </div>
                        </div>
                    <!-- Filter By Cuisines Ends -->
                    </div>
                <!-- Sidearea Filters Ends -->
                <!-- Spacer For Smaller Devices -->
                    <p class="d-xs-block d-sm-block d-md-none"><br></p>
                <!-- Spacer For Smaller Ends -->
                </div>
            <!-- Sidearea Ends -->
            <!-- Mainarea Starts -->
                <div class="col-lg-9 col-md-8 col-sm-12">
                <!-- Hotels Grid List Starts -->
					<div class="hotels-list-grid">
                    <!-- Nested Row Starts -->
                        <div class="row">
                        <!-- List Box #1 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img1.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #1 Ends -->
                        <!-- List Box #2 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img2.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #2 Ends -->
                        <!-- List Box #3 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img3.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #3 Ends -->
                        <!-- List Box #4 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img1.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #4 Ends -->
                        <!-- List Box #5 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img2.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #5 Ends -->
                        <!-- List Box #6 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img3.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #6 Ends -->
                        <!-- List Box #7 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img1.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #7 Ends -->
                        <!-- List Box #8 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img2.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #8 Ends -->
                        <!-- List Box #9 Starts -->
                            <div class="col-lg-4 col-md-6 col-sm-12">
                            <!-- Grid Box Starts -->
                                <div class="grid-box">
                                <!-- Images Starts -->
                                    <div class="image text-center">
                                        <img src="images/hotels/thumb/hotel-grid-thumb-img3.jpg" alt="Eagle Boys Village Plaza" class="img-fluid img-center">
                                        <span class="delivery-time">45<br>min</span>
                                    </div>
                                <!-- Images Ends -->
                                <!-- Content Starts -->
                                    <div class="content text-center text-lg-left">
                                    <!-- Title Starts -->
                                        <h6 class="grid-box-title"><a href="#">Eagle Boys Village Plaza</a></h6>
                                    <!-- Title Ends -->
                                    <!-- Tags Starts -->
                                        <ul class="list-unstyled list-inline grid-box-tags">
                                            <li class="list-inline-item"><a href="#">Pizza</a>,</li>
                                            <li class="list-inline-item"><a href="#">American</a>,</li>
                                            <li class="list-inline-item"><a href="#">Pasta</a>,</li>
                                            <li class="list-inline-item"><a href="#">Wraps</a></li>
                                        </ul>
                                    <!-- Tags Ends -->	
                                    <!-- Offer Details Starts -->
                                        <ul class="list-unstyled grid-box-info clearfix">
                                            <li class="float-lg-left"><span class="sub-title"><i class="fa fa-certificate"></i> Flat 10% Off</span></li>
                                            <li class="float-lg-right text-lg-right">
                                                <a href="#" class="btn btn-prime animation">
                                                    View Menu <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    <!-- Offer Details Ends -->
                                    <!-- Links Starts -->
                                        <div class="clearfix">
                                        <!-- Info Links Starts -->
                                            <ul class="list-unstyled list-inline grid-box-info-links float-lg-left">
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Coupons"><i class="fa fa-tag"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Information"><i class="fa fa-info-circle"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reviews"><i class="fa fa-star-half-full"></i></a></li>
                                                <li class="list-inline-item"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Specials"><i class="fa fa-asterisk"></i></a></li>
                                            </ul>
                                        <!-- Info Links Ends -->
                                        <!-- Ratings Starts -->
                                            <ul class="list-unstyled list-inline grid-box-ratings float-lg-right text-lg-right">
                                                <li class="list-inline-item star-rating"><i class="fa fa-star"></i> 45</li>
                                                <li class="list-inline-item"><a href="#" class="badge animation"><i class="fa fa-heart"></i> 10</a></li>
                                            </ul>
                                        <!-- Ratings Ends -->
                                        </div>
                                    <!-- Links Ends -->
                                    </div>
                                <!-- Content Ends -->
                                </div>
                            <!-- Grid Box Ends -->
                            </div>
                        <!-- List Box #9 Ends -->
                        </div>
                    <!-- Nested Row Ends -->
                    </div>
                <!-- Hotels Grid List Ends -->
                <!-- Pagination Starts -->
                    <div class="pagination-block clearfix">
                        <ul class="pagination animation float-lg-right">
                            <li class="page-item"><a href="#" class="page-link">«</a></li>
                            <li class="page-item active"><a href="#" class="page-link">1</a></li>
                            <li class="page-item"><a href="#" class="page-link">2</a></li>
                            <li class="page-item"><a href="#" class="page-link">3</a></li>
                            <li class="page-item"><a href="#" class="page-link">4</a></li>
                            <li class="page-item"><a href="#" class="page-link">5</a></li>
                            <li class="page-item"><a href="#" class="page-link">»</a></li>
                        </ul>
                    </div>
                <!-- Pagination Ends -->
                <!-- Banners Starts -->
                    <div class="row">
                        <div class="col-4">
                            <img src="images/banners/banner-img1.png" alt="Banner 1" class="img-fluid">
                        </div>
                        <div class="col-4">
                            <img src="images/banners/banner-img2.png" alt="Banner 2" class="img-fluid">
                        </div>
                        <div class="col-4">
                            <img src="images/banners/banner-img3.png" alt="Banner 3" class="img-fluid">
                        </div>
                    </div>
                <!-- Banners Ends -->
                </div>
            <!-- Mainarea Ends -->
            </div>
        <!-- Ends -->
        </div>