body {	
	font: 14px/24px 'Lato', Arial, Helvetica, sans-serif;
	color: #303030;
	background: #fff;
	overflow-x:hidden; 
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Lato', sans-serif;
}
h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 30px; }
h5 { font-size: 24px; }
h6 { font-size: 18px; }

.btn-linkedin, 
.btn-linkedin:hover, 
.btn-linkedin:focus, 
.btn-linkedin:active, 
.btn-linkedin.active, 
.btn-twitter, 
.btn-twitter:hover, 
.btn-twitter:focus, 
.btn-twitter:active, 
.btn-twitter.active, 
.btn-fb, 
.btn-fb:hover, 
.btn-fb:focus, 
.btn-fb:active, 
.btn-fb.active, 
.btn-main:hover, 
.btn-main:focus, 
.btn-main:active, 
.btn-main.active, 
.btn-prime, 
.btn-prime:hover, 
.btn-prime:focus,
.btn-prime:active,
.btn-prime.active, 
.btn-tertiary, 
.btn-tertiary:hover, 
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active, 
.btn-black, 
.btn-black:hover, 
.btn-black:focus,
.btn-black:active,
.btn-black.active {
	color: #fff;
}

.btn-linkedin {
	background-color: #006dc0;
}
.btn-linkedin:hover, 
.btn-linkedin:focus, 
.btn-linkedin:active, 
.btn-linkedin.active {
	background-color: #0a548c;
}

.btn-twitter {
	background-color: #29c5f6;
}
.btn-twitter:hover, 
.btn-twitter:focus, 
.btn-twitter:active, 
.btn-twitter.active {
	background-color: #23a1c9;
}

.btn-fb {
	background-color: #3b5998;
}
.btn-fb:hover, 
.btn-fb:focus, 
.btn-fb:active, 
.btn-fb.active {
	background-color: #2f4778;
}

.btn-linkedin, 
.btn-twitter, 
.btn-fb {
	border: none;
}

.btn-main {
	color: #222;
	background-color: #fff;
	border: 1px solid #cf3d27;
}
.btn-main:hover, 
.btn-main:focus, 
.btn-main:active, 
.btn-main.active {
	background-color: #cf3d27;
}

.btn-prime {
	background-color: #cf3d27;
}
.btn-prime:hover, 
.btn-prime:focus,
.btn-prime:active,
.btn-prime.active {
	background-color: #b4321e;
}

.btn-tertiary {
	background-color: #ffc000;
}
.btn-tertiary:hover, 
.btn-tertiary:focus, 
.btn-tertiary:active, 
.btn-tertiary.active {
	background-color: #333;
}

.btn-black {
	background-color: #2e2e2e;
}
.btn-black:hover, 
.btn-black:focus, 
.btn-black:active, 
.btn-black.active {
	background-color: #000;
}

.btn-light {
	background-color: #fff;
}
.btn-light, 
.btn-light:hover, 
.btn-light:active, 
.btn-light.active {
	color: #141414;
}
.btn-light:hover, 
.btn-light:active, 
.btn-light.active {
	background-color: #f4f4f4;
}

.btn-circle, 
.btn-circle:hover, 
.btn-circle:focus,
.btn-circle:active,
.btn-circle.active {
	width: 120px;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
}

/* Header Styles Starts */

.main-header {
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: #cf3d27;
}
	.logo {
		margin-top: 19px;
		transition: all .85s ease-in-out;
                animation: move 2.5s ease-in-out infinite;
                -webkit-animation: move 2.5s ease-in-out infinite;
                -moz-animation: move 2.5s ease-in-out infinite;
                -o-animation: move 2.5s ease-in-out infinite;
				height: 60px;
		    margin-right: 20px;
		    border-radius: 50%;
		    border: 1px solid orangered;
	}
	.logo:hover{
		transform: rotate(690deg);
	}

@keyframes move {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@-webkit-keyframes move {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@-moz-keyframes move {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@-o-keyframes move {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
/* Top Links Styles Starts */

	.top-links {
		margin-bottom: 20px;
	}
		.top-links li + li {
			padding-left: 15px;
		}
			.top-links li a {
				color: #fff;
			}
			
/* Order Info Styles Starts */

	.order-info {
		margin-bottom: 0;
	}
		.order-info li {
			color: #fff;
		}
		.order-info li.lead {
			margin-bottom: 0;
			font-size: 24px;
			font-weight: bold;
		}
			.order-info li.lead .fa {
				margin-right: 10px;
				font-size: 22px;
			}
		.order-info li.lead, 
		.order-info li.lead .fa {
			vertical-align: middle;			
		}
		.order-info li .btn-light {
			padding: 5px 20px;
		}
		
/* Main Menu Styles Starts */

.main-menu {
	margin-bottom: 0;
	padding: 0;
	background-color: #ba3622;
	border: solid #ea4d35;
	border-width: 1px 0 0 0;
}	
	.main-menu .navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}
		.main-menu .navbar-nav > .nav-item > a {
			padding: 15px 18px;
			color: #fff;
		}
		.main-menu .navbar-nav > .nav-item:hover > a, 
		.main-menu .navbar-nav > .nav-item > a:hover, 
		.main-menu .navbar-nav > .nav-item > a:focus, 
		.main-menu .navbar-nav > .nav-item.active > a {
			background-color: #ea4d35;
		}
		.main-menu .navbar-nav > .nav-item > a .fa {
			margin-left: 8px;
			font-size: 18px;
		}
		.main-menu .dropdown-menu {
			margin-top: 0;
			background-color: #ea4d35;
			border: none;
		}
			.main-menu .dropdown-menu > a.dropdown-item {
				padding: 7px 16px;
				color: #fff;
				font-size: 13px;
				font-weight: bold;
				line-height: normal;
			}
			.main-menu .dropdown-menu > a.dropdown-item .fa {
				margin-right: 5px;
				font-size: 16px;
			}
			.main-menu .dropdown-menu > a.dropdown-item:hover, 
			.main-menu .dropdown-menu > a.dropdown-item:focus, 
			.main-menu .dropdown-menu > a.dropdown-item.active {
				background-color: #ca402b;
			}

/* Search Section Styles Starts */

			
/* Breadcrumb Styles Starts */

/* Main Container Styles Starts */

.main-container {
	padding-top: 50px;
	padding-bottom: 50px;
}		

/* Main Banner Section Styles Starts */

.main-banner {
	padding-top: 100px;
	padding-bottom: 100px;
	color: #fff;	
}
.main-banner.one {
	background-image: url(../images/main-banner-img1.jpg);
}
.main-banner.two {
	background-image: url(../images/main-banner-img2.jpg);
}
.main-banner.three {
	padding-top: 30%;
	padding-bottom: 60px;
	background-image: url(../images/main-banner-img3.jpg);
}
.main-banner.three.flip {
	background-image: url(../images/food-wallpaper.png);	
}
	.main-banner h1 {
		font-weight: bold;
	}
	.main-banner ul {
		margin-top: 15px;
		margin-bottom: 15px;
	}
		.main-banner li {
			padding-top: 15px;
			font-size: 18px;
		}
.banner-area {
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Section Styles Starts */

.section {
	padding-top: 70px;
	padding-bottom: 70px;	
}

/* Intro Section Styles Starts */

.intro-section {
	padding-top: 40px;
	padding-bottom: 20px;
	background-color: #eee;
}
	.intro-section .fa {
		width: 90px;
		height: 90px;
		line-height: 90px;
		font-size: 48px;
		background-color: #fff;
		border: 1px solid #303030;
	}
	.intro-section h6 {	
		margin-top: 20px;
		margin-bottom: 20px;
	}

/* Welcome Section Styles Starts */

	
/* Team Section Styles Starts */
				
/* Login Page Styles Starts */

.content-login-wrap {
	margin-bottom: 50px;
	padding: 45px;
	background-color: #fff;
	border: 8px solid #eee;
}
	.content-login-wrap h4 {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.content-login-wrap .form-control {
		padding: 10px 20px;
		height: 42px;
		color: #222;
		font-size: 16px;
		background-color: #f2f2f2;
		border: 1px solid #ccc;
	}
	.content-login-wrap .checkbox input[type=checkbox] {
		margin-top: 6px;
	}
	.content-login-wrap .btn-prime, 
	.content-login-wrap .btn-tertiary {
		margin-top: 15px;
		margin-bottom: 20px;
		padding: 9px 18px;
		position: relative;
		font-size: 24px;
		font-weight: bold;
	}
	.content-login-wrap .btn-tertiary {
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 10px 20px;
	}
		.content-login-wrap .btn-prime > .fa, 
		.content-login-wrap .btn-tertiary > .fa {
			position: absolute;
			top: 32%;
			right: 5%;
		}
	.content-login-wrap .btn-twitter, 
	.content-login-wrap .btn-fb, 
	.content-login-wrap .btn-prime.tiny {
		padding: 9px 18px;
		font-size: 16px;
		font-weight: bold;
		text-align: left;
	}
	.content-login-wrap .btn-prime.tiny {
		margin-top: 5px;
	}
		.content-login-wrap .btn-twitter > .fa, 
		.content-login-wrap .btn-fb > .fa, 
		.content-login-wrap .btn-prime.tiny > .fa {
			margin-right: 10px;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 30px;
			border-right: 1px solid rgba(255, 255, 255, 0.4);
		}
		.content-login-wrap .btn-prime.tiny > .fa {
			position: static;			
		}
	.content-login-wrap .help-block {
		color: #333;
		font-weight: bold;
	}
	
/* Contact Page Styles Starts */

	.contact-form-section {
		margin-bottom: 15px;
	}
		.contact-form-section h3 {
			margin-bottom: 50px;
		}
		.contact-form-section .form-group {
			margin-bottom: 20px;
		}
			.contact-form-section .form-control {
				padding: 12px 20px;
				font-size: 18px;
				color: #979797;
				border-color: #cacaca;
			}
			.contact-form-section .form-control:focus {
				border-color: #999;
			}
			.contact-form-section input.form-control {
				height: 46px;
			}
			.contact-form-section textarea.form-control {
				padding: 20px 30px;
			}
		.contact-form-section .btn-prime {
			margin-top: 15px;
			padding: 10px 50px;
			font-size: 18px;
			font-weight: bold;
		}
	.contact-details {
		padding-top: 60px;
		padding-bottom: 60px;
		background-color: #eee;
		border-bottom: 1px solid #fff;
	}
		.contact-details h5 {
			margin-bottom: 40px;
			padding-bottom: 15px;
			color: #4b4b4b;
			border-bottom: 3px solid #cf3d27;
		}
		.contact-details h5, 
		.contact-details h6 {
			font-weight: bold;			
		}
		.contact-details h5, 
		.contact-right-col h6 {
			margin-top: 0;
		}
		.contact-left-col {			
		}
			.contact-left-col ul {
				margin-bottom: 55px;
				color: #222;
			}
			.contact-left-col ul:last-of-type {
				margin-bottom: 0;
			}
				.contact-left-col ul > li {
					font-weight: 300;
				}
					.contact-left-col ul > li > h6 {
						margin-top: 3px;
						color: #1d1d1d;
					}
		.contact-right-col h6 {
			line-height: 26px;
		}
		.contact-right-col {			
		}
			.contact-right-col ul {				
			}
				.contact-right-col ul > li + li {
					margin-top: 15px;
				}
					.contact-right-col ul > li, 
					.contact-right-col ul > li a {
						color: #222;
						font-weight: 300;
					}
					.contact-right-col .fa, 
					.contact-right-col ul > li a:hover, 
					.contact-right-col ul > li a:focus {
						color: #cf3d27;
					}
					.contact-right-col ul > li > .col-xs-2 {
						width: 12%;
					}
					.contact-right-col ul > li > .col-xs-10 {
						width: 88%;
					}
					.contact-right-col ul > li:first-of-type > .col-xs-10 {
						padding-left: 5px;						
					}
						.contact-right-col ul > li:first-of-type .fa {
							margin-top: 3px;						
						}
						.contact-right-col .fa {
							font-size: 24px;
							vertical-align: text-top;
						}
		
/* Pagination Styles Starts */

.pagination {
	margin-top: 30px;
	margin-bottom: 30px;
}
	.pagination > li.page-item {
		display: inline-block;
		margin-right: 6px;
	}
	.pagination > li.page-item:last-of-type {
		margin-right: 0;
	}
	.pagination > li.page-item > a {
		padding: 4px 10px;
		font-size: 16px;
		color: #4e4e4e;
		background-color: #fff;
		border-color: #d1d1d1;
	}
	.pagination > li.page-item > a:focus, 
	.pagination > li.page-item > a:hover {
		color: #323232;
		background-color: #eee;
		border-color: #d2d2d2;
	}
	.pagination > li.page-item.active > a, 
	.pagination > li.page-item.active > a:focus, 
	.pagination > li.page-item.active > a:hover {
		color: #fff;
		background-color: #cf3d27;
		border-color: #a62d1b;
	}

/* Download App Section Styles Starts */

.dowload-app .content {
	padding-right: 40px;
	padding-left: 30px;
}
	.dowload-app h3 {
		margin-top: 20px;
		margin-bottom: 20px;
		color: #cf3d27;
	}
	.dowload-app h5 {
		margin-bottom: 30px;
		color: #282828;
	}
	.dowload-app li + li {
		margin-left: 15px;
	}

/* Footer Top Styles Starts */

.footer-top {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fff;
	background-color: #282828;
}
	.footer-top h3 {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.footer-top ul {
		margin-bottom: 20px;
	}
		.footer-top li {
			font-size: 18px;
		}
		.footer-top li:last-of-type {
			margin-left: 20px;
		}
			.footer-top li .fa {
				margin-right: 10px;
				color: #cf3d27;
			}
	.newsletter-form {
		margin-top: 40px;
	}
		.newsletter-form .form-control {
			padding: 12px 24px;
			height: 46px;
			color: #979797;
			background-color: #fff;
			border: none;
		}
		.newsletter-form .form-control,	
		.newsletter-form .btn-prime {
			font-size: 18px;
		}
		.newsletter-form .btn-prime {
			padding-top: 9px;
			padding-bottom: 9px;
		}
		.newsletter-form h6 {
			margin-top: 35px;
			margin-bottom: 0;
			font-size: 17px;
		}
			.newsletter-form h6 span {
				margin-left: 6px;
			}

/* Footer Area Styles Starts */

.main-footer {
	padding-top: 55px;
	background-color: #181818;
}
.main-footer, 
.main-footer a {
	color: #fff;	
}

	.page-links {
		margin-top: 14px;
		margin-bottom: 0;
	}
		.page-links li {
			padding-left: 5px;
			padding-right: 5px;
		}
		
	.sm-links {
		margin-top: 10px;
		margin-bottom: 0;		
	}
		.sm-links li a.btn-prime {
			padding: 5px 10px;
		}			

	.foot-address {
		padding-top: 35px;
		padding-bottom: 35px;
	}
		.page-links li, 
		.sm-links li .fa, 
		.foot-address li {
			font-size: 18px;
		}
		.foot-address li:last-of-type {
			padding-top: 4px;
		}
		
	.footer-links-section {
		padding-top: 30px;
		padding-bottom: 30px;
		border: dashed #474747;
		border-width: 1px 0;
	}
		.footer-links-section h5 {
			margin-bottom: 20px;
		}
			.footer-links-section li {
				padding-top: 3px;
			}
			
	.copyright {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	
/* Modal Window Styles Starts */

#registerModal .modal-content {
	border: 8px solid #eee;
}
	#registerModal .modal-header {
		position: relative;
		border: none;
	}
		#registerModal .modal-header .modal-title {
			margin-top: 10px;
			width: 100%;
			display: block;
		}
		#registerModal .modal-header .close {
			position: absolute;
			right: 20px;
		}
	#registerModal .modal-body {
		padding-left: 60px;
		padding-right: 60px;
		padding-bottom: 40px;
	}
	#registerModal .modal-body .form-control {
		padding: 10px 20px;
		min-height: 42px;
		color: #222;
		font-size: 16px;
		background-color: #f2f2f2;
		border: 1px solid #ccc;
	}
	#registerModal .modal-body .help-block {
		color: #333;		
	}
	#registerModal .modal-body .btn-tertiary {
		padding: 10px 20px;
		position: relative;
		font-size: 20px;
		font-weight: bold;
	}
		#registerModal .modal-body .btn-tertiary > .fa {
			position: absolute;
			top: 32%;
			right: 5%;			
		}

#change-location .modal-header {
	padding: 100px 25px 25px;
	position: relative;
	background: url(../images/modal-img1.jpg) no-repeat left top;
	border: none;
}	
	#change-location .modal-header .close {
		margin-top: -90px;
		position: absolute;
		right: 20px;
		opacity: 1;
	}
	#change-location .modal-header, 
	#change-location .modal-header .close {
		color: #fff;		
	}
	#change-location .modal-body ul {
		margin-top: 15px;
	}
			#change-location .modal-body ul li {
				padding: 5px;
				font-size: 18px;
			}
			#change-location .modal-body ul li a {
				color: #333;
			}
			
/* List Styles Starts */

.list-style-1 {
	margin-top: 15px;
}
	.list-style-1 li {
		padding-top: 10px;
	}
	
.list-style-2 {
	margin-bottom: 20px;
}	
	.list-style-2 li {
		margin-top: 6px;
		font-size: 16px;
		color: #646464;
	}
	.list-style-2 li:before {
		content: "\f00c";
		margin-right: 10px;
		font-size: 15px;
		color: #8a8a8a;
	}
	
.list-style-3 {
	list-style-type: lower-alpha;	
}	
	.list-style-3 li {
		margin-bottom: 10px;
		padding-left: 6px;
	}
	
.list-style-4 {
	list-style-type: decimal;	
}	
	.list-style-4 li {
		margin-bottom: 10px;
		padding-left: 6px;
	}
	
.list-banner-style-1 {
	margin-bottom: 0;
}
	.list-banner-style-1 li {
		margin-bottom: 16px;
	}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.food-menu-grid .hover-content .overlay h4 a:hover {
	text-decoration: none;
}

.text-weight-thin		 	{ font-weight: 100; }
.text-weight-extra-light	{ font-weight: 200; }
.text-weight-light		 	{ font-weight: 300; }
.text-weight-normal 	 	{ font-weight: 400; }
.text-weight-medium 	 	{ font-weight: 500; }
.text-weight-bold		 	{ font-weight: 700; }
.text-weight-ultra-bold 	{ font-weight: 900; }

.text-spl-color { color: #cf3d27; }
.text-muted		{ color: #787878; }

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.clause-style-1 {
	padding-left: 50px;
	color: #000;
	font-weight: bold;
}

.spacer {
	height: 5px;
}
.spacer.big {
	height: 10px;
}
.spacer-1 {
	height: 60px;
}
.spacer-1.medium {
	height: 40px;
}
.spacer-1.condensed {
	height: 30px;
}

.about-join-team-section .form-control, 
.about-join-team-section .btn, 
.nav-menu-tabs > li > a, 
.pagination, 
.pagination > li.page-item:first-child > a.page-link, 
.pagination > li.page-item:last-child > a.page-link {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.hotels-list-grid .grid-box .delivery-time, 
.circle {
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
			border-radius: 100%;
}

.btn-circle {
	-webkit-border-radius: 120px 120px 0 0;
	   -moz-border-radius: 120px 120px 0 0;
			border-radius: 120px 120px 0 0;	
}

.top-search .search-panel .btn {
	-webkit-border-radius: 3px 0 0 3px;
	   -moz-border-radius: 3px 0 0 3px;
	        border-radius: 3px 0 0 3px;
}
.top-search .btn-prime {
	-webkit-border-radius: 0 3px 3px 0;
	   -moz-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
}

.btn-prime, 
.reviews-form-box .form-control, 
.newsletter-form .form-control {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;	
}

.border-radius-4, 
.hotels-list-grid .grid-box, 
.reviews-form-box, 
.content-login-wrap, 
.content-login-wrap .btn-prime.tiny {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;		
}

.hotels-list .right-col .btn-prime, 
.hotels-list-grid .grid-box-info .btn-prime, 
.food-menu-grid .hover-content, 
.offer-col {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;		
}

.main-heading-1 .btn-main, 
.hotels-list-grid .grid-box-ratings li a.badge {
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
			border-radius: 25px;		
}

.offer-col .img-fluid {
	-webkit-border-radius: 5px 5px 0 0;
	   -moz-border-radius: 5px 5px 0 0;
			border-radius: 5px 5px 0 0;			
}

#change-location .modal-header {
	-webkit-border-radius: 6px 6px 0 0;
	   -moz-border-radius: 6px 6px 0 0;
			border-radius: 6px 6px 0 0;
}

.no-boxshadow, 
.top-search .search-panel .btn, 
.top-search .search-panel .btn:focus, 
.top-search .form-control:hover, 
.top-search .form-control:focus, 
.about-join-team-section .form-control:hover, 
.about-join-team-section .form-control:focus, 
.reviews-form-box .form-control:hover, 
.reviews-form-box .form-control:focus, 
.reachus-form .form-control:hover, 
.reachus-form .form-control:focus, 
.content-login-wrap .form-control:hover, 
.content-login-wrap .form-control:focus, 
.contact-form-section .form-control:hover, 
.contact-form-section .form-control:focus, 
#registerModal .modal-body .form-control:hover, 
#registerModal .modal-body .form-control:focus, 
.btn:hover, 
.btn:focus, 
.sidearea-filter .form-control {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.top-search .search-panel .dropdown-menu {
	-webkit-box-shadow: 3px 3px 6px rgba(0,0,0,.175);
	   -moz-box-shadow: 3px 3px 6px rgba(0,0,0,.175);
		    box-shadow: 3px 3px 6px rgba(0,0,0,.175);
}

.hotels-list-grid .grid-box .delivery-time {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.main-menu,  {
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
		    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.main-menu .dropdown-menu, {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	   -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);	
}

.btn-circle {
	-webkit-box-shadow: 0 -3px 0 3px rgba(255, 255, 255, 0.4);
	   -moz-box-shadow: 0 -3px 0 3px rgba(255, 255, 255, 0.4);
			box-shadow: 0 -3px 0 3px rgba(255, 255, 255, 0.4);
}
.btn-circle:hover {
	-webkit-box-shadow: 0 -4px 0 4px rgba(255, 255, 255, 0.6);
	   -moz-box-shadow: 0 -4px 0 4px rgba(255, 255, 255, 0.6);
			box-shadow: 0 -4px 0 4px rgba(255, 255, 255, 0.6);
}

.breadcrumb li + li::before, 
.hotels-list .right-col .sub-title .fa:after, 
.list-style-2 li::before {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?v=4.4.0');
	src: url('../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
}

.animation, 
.animation a {
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
}

.animation-1, 
.animation-1 a {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;	
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  text-align: center!important;
}
.card img{
    width: 90%;
    height: 60%;
    margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.loader-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: antiquewhite;
}
.loader-wrapper .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid red;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-o-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
